.tooltip {
    background-color: red !important;
    padding: 1px !important;
    color: white !important;
    z-index: 1;
}

.tooltip::before {
    background-color: red !important;
    z-index: 2;
}